stages:
  - static_code_analysis
  - build
  - tests
  - beekeepy


variables:
  GIT_STRATEGY: clone
  GIT_DEPTH: 1

  PACKAGES_TO_CHECK: "tests/ beekeepy/"
  # colors:
  TXT_BLUE: "\e[1;34m"
  TXT_CLEAR: "\e[0m"

  BEEKEEPY_DIR: ${CI_PROJECT_DIR}/beekeepy
  LOCAL_TOOLS_DIR: ${CI_PROJECT_DIR}/tests/local-tools

include:
  - project: 'hive/common-ci-configuration'
    ref: develop
    file:
      - '/templates/python_projects.gitlab-ci.yml'

image: ${PYTHON_IMAGE}

default:
  tags:
    - public-runner-docker

#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>| STATIC CODE ANALYSIS |>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.static_code_analysis_vars: &static_code_analysis_vars
  variables:
    PYPROJECT_DIR: "${LOCAL_TOOLS_DIR}"
    PYPROJECT_CONFIG_PATH: "${CI_PROJECT_DIR}/tests/local-tools/pyproject.toml"

pre_commit_checks:
  stage: static_code_analysis
  extends: .pre_commit_checks_template
  variables:
    PYPROJECT_DIR: "${LOCAL_TOOLS_DIR}"
    PRE_COMMIT_CONFIG: "${CI_PROJECT_DIR}/.pre-commit-config.yaml"

formatting_with_ruff_check:
  stage: static_code_analysis
  extends: .project_develop_configuration_template
  <<: *static_code_analysis_vars
  script:
    - echo -e "${TXT_BLUE}Checking code formatting with Ruff...${TXT_CLEAR}" &&
      ruff format --config "${PYPROJECT_CONFIG_PATH}" --check --diff ${PACKAGES_TO_CHECK}

lint_code_with_ruff:
  stage: static_code_analysis
  extends: .lint_code_with_ruff_template
  <<: *static_code_analysis_vars

type_check_with_mypy:
  stage: static_code_analysis
  extends: .type_check_with_mypy_template
  <<: *static_code_analysis_vars

#<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<| STATIC CODE ANALYSIS |<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>| BUILD |>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

fetch_beekeeper:
  stage: build
  needs: []
  image: alpine:latest
  variables:
    BEEKEEPER_REF: "master"
  script:
    - apk add --no-cache curl unzip
    - 'curl -L -H "JOB-TOKEN: $CI_JOB_TOKEN"
       "https://gitlab.syncad.com/api/v4/projects/hive%2Fbeekeeper/jobs/artifacts/${BEEKEEPER_REF}/download?job=beekeeper_native_build"
       -o beekeeper.zip'
    - unzip beekeeper.zip
    - mkdir -p hived-binaries
    - cp build/programs/beekeeper/beekeeper/beekeeper hived-binaries/
    - chmod +x hived-binaries/beekeeper
  artifacts:
    paths:
      - hived-binaries/
    expire_in: 1 week
  tags:
    - public-runner-docker

build_beekeepy_wheel:
  stage: beekeepy
  extends: .build_wheel_template
  needs:
    - job: pre_commit_checks
    - job: run_beekeepy_tests
    - job: fetch_beekeeper
      artifacts: true
  variables:
    PYPROJECT_DIR: "$BEEKEEPY_DIR"
  before_script:
    - ls -la $CI_PROJECT_DIR/hived-binaries
    - cp $CI_PROJECT_DIR/hived-binaries/beekeeper $BEEKEEPY_DIR/beekeepy/beekeeper
    - ls -la $BEEKEEPY_DIR/beekeepy
  tags:
    - public-runner-docker

#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>| TESTS |>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.run_tests_template:
  extends: .project_develop_configuration_template
  needs:
    - job: fetch_beekeeper
      artifacts: true
  variables:
    PATH_TO_REPORT: "$CI_PROJECT_DIR/report.xml"
    PYPROJECT_DIR: "$LOCAL_TOOLS_DIR"
    SUBPROJECT_TEST_TARGET: ""
    HIVED_HTTP_ENDPOINT: "https://api.hive.blog"
  before_script:
    - cp $CI_PROJECT_DIR/hived-binaries/beekeeper $BEEKEEPY_DIR/beekeepy/beekeeper
    - !reference [.project_develop_configuration_template, before_script]
  script:
    - if [ -z "${HIVED_HTTP_ENDPOINT}" ]; then HIVED_HTTP_ENDPOINT=""; else HIVED_HTTP_ENDPOINT="--hived-http-endpoint=${HIVED_HTTP_ENDPOINT}"; fi
    - echo -e "${TXT_BLUE}Launching tests...${TXT_CLEAR}"
    - python3 -m pytest --asyncio-mode auto -n auto --durations 0 --junitxml=report.xml ${HIVED_HTTP_ENDPOINT} "tests/${SUBPROJECT_TEST_TARGET}_test"
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: $PATH_TO_REPORT
  tags:
    - data-cache-storage

run_beekeepy_tests:
  stage: beekeepy
  extends: .run_tests_template
  variables:
    SUBPROJECT_TEST_TARGET: "beekeepy"

#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>| DEPLOY |>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.deploy_wheel_needs:
  needs:
    - job: pre_commit_checks
      artifacts: true

deploy_beekeepy_wheel_to_gitlab:
  stage: beekeepy
  extends: .deploy_wheel_to_gitlab_template
  needs:
    - job: build_beekeepy_wheel
      artifacts: true
  variables:
    PYPROJECT_DIR: "${BEEKEEPY_DIR}"
  when: on_success

deploy_beekeepy_wheel_to_pypi:
  stage: beekeepy
  extends: .deploy_wheel_to_pypi_template
  needs:
    - job: build_beekeepy_wheel
      artifacts: true
  variables:
    PYPROJECT_DIR: "${BEEKEEPY_DIR}"
  when: on_success
